body {
 background:
   linear-gradient(
     rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)
   ),
   url("./cook-2364264_1920.jpg");
   color: white;
   background-repeat: no-repeat;
   background-color: transparent;
   background-attachment: fixed;
   background-size: cover;
   font-family: 'IBM Plex Serif', serif;
}

h1 {
  text-align: center;
}
p {
  font-size: 2.3em;
}
.corpus {
  margin-top: 20%;
}

.corpus-text {
  margin-top: 5%;
}

.container {
  padding: 0;
}

.input-email, .submit-email {
  padding: 20px;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: all 0.15s ease 0s;
}

.input-email {
  margin-bottom: 3%;
}

.form {
  margin-top: 2%;
  font-size: 2.3em;
}

.submit-email {
 color: rgb(255, 255, 255);
 background: rgb(108, 216, 122);
}

.submit-email:hover {
 cursor: pointer;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (min-width: 768px) {
  .corpus {
    margin-top: 6%;
  }
}


@media (min-width: 1200px) {
  body {
    background:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./clock-650753_1920.jpg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-attachment: fixed;
      background-size: cover;
  }

  .corpus {
   margin-top: 3%;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    font-size: 1.2em;
  }

  .form {
    font-size: 1.2em;
  }

  .submit-email span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .submit-email span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .submit-email:hover span {
    padding-right: 25px;
  }

  .submit-email:hover span:after {
    opacity: 1;
    right: 0;
  }
}
